<!-- This launch file publishes a robot model for the Aqua robot.
	 It can be used to visualize experiments in rviz and to associate information between
	 various sensors on the robot.
	 
	 Author: Dave Meger
	         Juan Camilo Gamboa Higuera
 --> 

<launch>
  <arg name="urdf_path" default="$(find aqua_description)/urdf/aqua.urdf.xacro"/>
  <arg name="root_ns" default=""/>

  <param name="robot_description" command="$(find xacro)/xacro.py '$(arg urdf_path)' root_namespace:=$(arg root_ns) "/>

  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="simulator_robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="50.0" />
    <remap from="aqua" to="$(arg root_ns)/aqua"/>
    <remap from="joint_states" to="$(arg root_ns)/joint_states"/>
    <remap from="tf" to="$(arg root_ns)/tf"/>
    <remap from="tf_static" to="$(arg root_ns)/tf_static"/>
  </node>
  
  <!-- Automatic leg state publisher for now simple sinusoid motions -->
  <node pkg="aqua_description" type="leg_state_publisher" name="leg_angle_publisher" output="screen">
    <param name="joint_states_topic" value="$(arg root_ns)/joint_states" />
    <param name="aqua_health_topic" value="$(arg root_ns)/aqua/health" />
  </node>
  
  <!-- This is a useful node for testing. It allows the use of a GUI to publish joint states -->       
  <!-- node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" output="screen">
    <param name="use_gui" type="Boolean" value="False" />
    <remap from="/" to="$(arg root_ns)"/>
  </node -->
  
</launch>
